body{
  padding: 0px;
  margin: 0px;
}

.form{
  margin-top: 5%;
  margin-left: 35%;
  display: flex;
  color: white;
  background-color:mediumblue;
  flex-direction: column;
  width: fit-content;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5em;
  border-radius: 2em;
  box-shadow: 4px 4px 5px black;
}
input{
  padding: 1em;
  border-radius: 1em;
  outline: none;
  border-color:royalblue;
  margin-top: 2em;
}
input:hover{
  background-color:lightgray;
}
button{
  padding: 1em;
  border-radius: 1em;
  background-color:tomato;
  color: white;
  border: none;
  margin-top: 2em;
  font-size: large;
  cursor: pointer;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  from {background-color: black;}
  to {background-color:dodgerblue;}
}
button:hover{
  transform: scale(1.1);
}
.success-msg{
  color: green;
  background-color: chartreuse;
  text-align: center;
  margin-top: 12%;
  padding: 1em;
  border-radius: 2em;
  font-weight: bolder;
}
.failure-msg{
  color: red;
  background-color: white;
  text-align: center;
  border-radius: 2em;
  margin-top: 12%;
  padding: 1em;
  font-weight: bolder;
}
.pass-msg{
  color: red;
  background-color: white;
  text-align: center;
  border-radius: 2em;
  margin-top: 12%;
  padding: 1em;
  font-weight: bolder;
}
